@media screen and (min-width: 480px) {
  .tag_View_Container {
    display: flex;
    justify-content: space-between;
  }

  .right_Side {
    width: 38vw;
  }

  .post_Tag_Button {
    font-family: 'Strait', sans-serif;
    margin: .5vw;
    max-height: 2rem;
    min-width: 5rem;
  }

  .Post_Tag_Sizer {
    font-family: 'Strait', sans-serif;
    display: flex;
    margin-right: 3vw;
  }

  .tag_Container {
    background-color: rgba(70, 131, 180, 0.226);   
    border:rgba(70, 131, 180, 0.541) 1px solid;
    min-height: 80vh;
    width: 48vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .edit_Fields {
    max-width: fit-content;
    min-width: 35vw;
    min-height: 15vh;
    background-color: rgba(70, 131, 180, 0.226);   
    border:rgba(70, 131, 180, 0.541) 1px solid;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 3%;
  }
  .tag_Action_Button {
    margin: 1vw;
    min-width: 6vw;
  }
  .delete_Tag_Headline {
    margin: 5%;
  }

  .delete_Box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: fit-content;
    min-width: 35vw;
    min-height: 15vh;
    background-color: rgba(70, 131, 180, 0.226);   
    border:rgba(70, 131, 180, 0.541) 1px solid;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .tag_View_Container {
    display: flex;
    flex-direction: column-reverse;
  }

  .tag_Container {
    display: flex;
    min-height: 55vh;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(70, 131, 180, 0.226);   
    border:rgba(70, 131, 180, 0.541) 1px solid;
  }

  .edit_Fields {
    min-height: 20vh;
    background-color: rgba(70, 131, 180, 0.226);   
    border:rgba(70, 131, 180, 0.541) 1px solid;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.42);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.42);
    margin-bottom: 3%;
  }
  .delete_Tag_Headline {
    margin: 5%;
  }
  .delete_Box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20vh;
    background-color: rgba(70, 131, 180, 0.226);   
    border:rgba(70, 131, 180, 0.541) 1px solid;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.42);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.42);
    margin-bottom: 3%;
  }
  .tag_Action_Button {
    margin: 1vw;
    min-width: 20vw;
  }
  .post_Tag_Button {
    margin: 1vw;
    max-height: 2rem;
    min-width: 5rem;
  }

  .Post_Tag_Sizer {
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
  }
}

.tag_Button {
  font-family: 'Strait', sans-serif;
  margin: 1%;
  max-height: 2.5rem;
  min-width: 8rem;
}

.left_side_buttons {
  font-family: 'Strait', sans-serif;
  margin-left: 0.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.tag_Headline {
  display: flex;
  justify-content: space-between;
  font-family: 'Strait', sans-serif;
  background-color: cornflowerblue;
  color: white;
}

.tag_Spacer {
  margin: 10px;
}

.edit_Tag_Input_Field {
  background: transparent;
  border: none;
  color: white;
  text-align: center;
}

.edit_Row1 {
  display: flex;
  justify-content: space-between;
}

.edit_Row2 {
  display: flex;
  justify-content: space-between;
}

.tag_Delete_Button {
  margin-right: 0.4rem;
  font-family: 'Strait', sans-serif;
}

.tag_Sizer {
  font-family: 'Strait', sans-serif;
  max-height: 4vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Post_Tag_Button {
  margin-left: 1vw;
}

.Post_Tag_Save_Button {
  margin: 2vh 1vw 0 0 ;
}

.Post_Tag_Popup {
  background-color: rgba(70, 131, 180, 0.226);   
    border:rgba(70, 131, 180, 0.541) 1px solid;
}

.post_Detail_Top_With_Tags {
  display: flex;
  justify-content: space-between;
}

.Tags_h6 {
  margin-top:.8rem;
}
