
.editCategoryButton {
    margin-left: .2em;;
}

.goBackEditCategory {
    margin-left: 1em;
}
.btn-danger.deleteCategoryButton {
    margin-left: 2em;
}

.goBackCategoryButton {
    margin-left: 1em;
}

.CategoryFormInput {
    width: 30em;
}

.helloImg {
    margin: 0 auto;
}






